body {
    background-color: #070F2B /* #E3FCBF */;
}

.custom-link {
    color: #fff;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: #00ff84;
    text-decoration: none;
}

.form-control[data-custom-input]:focus {
    border-color: #00ff84;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 132, 0.25);
}

button[data-custom-btn] {
    color: #00ff84;
    border-color: #00ff84;
}

button[data-custom-btn]:hover {
    color: black;
    border-color: #00ff84;
    background-color: #00ff84;
}